name: melezh-test

services:
  melezh-rpm-ru:
    image: ghcr.io/bayselonarrend/melezh-dev:draft-rpm-ru
    container_name: Melezh-RPM-RU
    ports:
      - "1921:1921"
    volumes:
      - ../../tests/test_volumes/Melezh-RPM-RU:/app
    restart: unless-stopped

  melezh-rpm-en:
    image: ghcr.io/bayselonarrend/melezh-dev:draft-rpm-en
    container_name: Melezh-RPM-EN
    ports:
      - "1922:1921"
    volumes:
      - ../../tests/test_volumes/Melezh-RPM-EN:/app
    restart: unless-stopped

  melezh-deb-ru:
    image: ghcr.io/bayselonarrend/melezh-dev:draft-deb-ru
    container_name: Melezh-DEB-RU
    ports:
      - "1923:1921"
    volumes:
      - ../../tests/test_volumes/Melezh-DEB-RU:/app
    restart: unless-stopped

  melezh-deb-en:
    image: ghcr.io/bayselonarrend/melezh-dev:draft-deb-en
    container_name: Melezh-DEB-EN
    ports:
      - "1924:1921"
    volumes:
      - ../../tests/test_volumes/Melezh-DEB-EN:/app
    restart: unless-stopped